/*global */
/*eslint no-undef: "error"*/
@import './colors.less';
@import './button01.less';
// your styling goes here

html.dark {
    background: @dark-background;
}

h2 {
    font-family: @font-hand;
    font-size: 44px;
    color: @primary-color;
}

p {
    font-family: @font-p;
    font-size: 20px;
    color: @font-color;
}

li {
    font-size: 20px;
}

.yell-bg {
    background: @primary-color;
    transition: all 0.15s ease;
    &:hover {
        background-color: @purple-color;
        color: white;

    }
}

nav{
    .hahaha-text{
        span {
            display: none;
        }

    }
}