/*global */
/*eslint no-undef: "error"*/
@import './colors.less';
@import './button01.less';
// your styling goes here

.bg-primary-color {
    background: @primary-color
}

.bg-secondary-color {
    background: @secondary-color;
}

.bg-dark-background {
    background: @dark-background;
}

html.dark {
    background: @dark-background;
}

h2,h1 {
    font-family: @font-hand;
    font-size: 44px;
    color: @primary-color;
}

p {
    font-family: @font-p;
    font-size: 20px;
    color: @font-color;
}

li {
    font-size: 20px;
}

.yell-bg {
    background: @primary-color;
    transition: all 0.15s ease;
    &:hover {
        background-color: @purple-color;
        color: white;

    }
} 

.glassy-bg {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
}


nav, #section01, #section03, #section04 {
    .hahaha-text{
        span {
            display: none;
        }

    }
}

